* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Besley';
}
.navbar {
    background-color: #F2BBC5;
    width: 100%;
    line-height: 80px;
    height: 80px;
    font-size: 20px;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Besley';
    display: block;
}
.MyPage {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color: white;
    cursor: none;
}
.navbar a{
    text-decoration: none;
    color: black;
}
.navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 20px;
}
.navbar ul li {
    display: inline-block;
}
.navbar ul li a {
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
}
.navbar ul li a:hover {
    background-color: #F2D5D5;
    color: white;
}
body {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    font-family: 'Besley';
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/job545-wit-20.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b46c9c3bc7b91a0874be7730d51abc6b);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 50px 50px 50px;
}
h1 {
    font-size: 50px;
}
p {
    margin-top: 10px;
    font-size: 20px;
}
img {
    margin-top: -500px;
    margin-left: 450px;
    width: 25%;
    display: flex;
    position: relative;
}
#container {
    height: 220vh;
    width: 1000%;
    background-color: #d8c4e4;
    border-radius: 15px;
    position: relative;
    padding: 20px 50px 20px 50px;
}
.content {
    justify-content: space-around;
    margin: 50px 100px 50px 50px;
    padding: 500px 20px 20px 20px;
}
.table-box {
    margin: 25px auto;
}
.table-row {
    display: table;
    width: 60%;
    margin: 10px auto;;
    background: white;
    padding: 10px 0;
    font-size: 15px;
    box-shadow: 0 4px rgba(51, 45, 45, 0.3);
}
.table-head {
    background: #fde395;
}
.table-head p {
    color: black;
    font-weight: 600;
    font-size: 30px;
}
.table-cell {
    font-size: 20px;
    color: black;
    display: table-cell;
    width: 30%;
    text-align: center;
    padding: 4px 0;
    vertical-align: middle;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.table-head .table-cell {
    border-right: none;
    border-left: none;
}
.link {
    background-color: #fde395;
    padding: 20px 20px;
    align-content: center;
    margin-top: -50px;
}
.link h3 {
    display: block;
}
.link a {
    color: black;
    font-size: 20px;
    margin: 550px;
}
