* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Besley';
}
.navbar {
    background-color: #F2BBC5;
    width: 100%;
    line-height: 80px;
    height: 80px;
    font-size: 20px;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Besley';
    display: block;
}
.MyPage {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}
.navbar a{
    text-decoration: none;
    color: black;
}
.navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 20px;
}
.navbar ul li {
    display: inline-block;
}
.navbar ul li a {
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
}
.navbar ul li a:hover {
    background-color: #F2D5D5;
    color: white;
}
body {
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Besley';
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/job545-wit-20.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b46c9c3bc7b91a0874be7730d51abc6b);
    background-size: cover;
    background-attachment: fixed;
}
.container {
    height: 150vh;
    width: 700px;
    background-color: #d8c4e4;
    border-radius: 15px;
    position: relative;
    margin: 35px 0px 50px 0px;
}
.headr {
    width: 700px;
    margin: auto;
    text-align: center;
    padding: 20px 20px 20px 20px;
}
.main {
    margin: auto;
    padding: 10px 20px 0 20px;
}
.main form {
    padding: 0px 20px 0px 20px;
}
#label {
    margin-top: 3%;
    width: 100%;
    height: 150px;
}
.name {
    font-size: 15px;
}
.fname {
    position: relative;
    left: 150px;
    top: -35px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 15px;
    width: 460px;
}
.mname {
    position: relative;
    left: 150px;
    top: -25px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 15px;
    width: 460px;
}
.lname {
    position: relative;
    left: 150px;
    top: -15px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 15px;
    width: 460px;
}
#address {
    margin-top: 3%;
    width: 100%;
    height: 40px;
    font-size:15px;
}
.address {
    position: relative;
    left: 150px;
    top: -35px;
    line-height: 40px;
    width: 460px;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 15px;
}
#age {
    margin-top: 3%;
    width: 100%;
    height: 40px;
    font-size:15px;
}
.age {
    position: relative;
    left: 150px;
    top: -35px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 15px;
    width: 460px;
}
#birthdate {
    margin-top: 3%;
    width: 100%;
    height: 40px;
    font-size:15px;
}
.date {
    position: relative;
    left: 150px;
    top: -35px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 15px;
    width: 460px;
}
#gender {
    margin-top: 3%;
    width: 100%;
    height: 40px;
    font-size:15px;
}
.ch1 {
    position: relative;
    left: 200px;
    top: -25px;
    padding: 0 10px;
    font-size: 15px;
    letter-spacing: 3px;
}
label {
    padding: 10px;
}
#emailadd {
    margin-top: 3%;
    width: 100%;
    height: 40px;
    font-size:15px;
}
.emailadd {
    position: relative;
    left: 150px;
    top: -35px;
    line-height: 40px;
    width: 460px;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 15px;
}
#cnumber {
    margin-top: 3%;
    width: 100%;
    height: 40px;
    font-size:15px;
}
.cnumber {
    position: relative;
    left: 150px;
    top: -35px;
    line-height: 40px;
    width: 460px;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 15px;
}
#vaccine {
    margin-top: 3%;
    width: 100%;
    height: 40px;
    font-size:15px;
}
.vac {
    position: relative;
    left: 150px;
    top: -50px;
    line-height: 40px;
    width: 460px;
    height: 40px;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 15px;
}
#location {
    margin-top: 3%;
    width: 100%;
    height: 40px;
    font-size:15px;
}
.loc {
    position: relative;
    left: 150px;
    top: -50px;
    line-height: 40px;
    width: 460px;
    height: 40px;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 15px;
}
#time {
    margin-top: 3%;
    width: 100%;
    height: 40px;
    font-size:15px;
}
.ptime {
    position: relative;
    left: 150px;
    top: -50px;
    line-height: 40px;
    width: 460px;
    height: 40px;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 15px;
}
button {
    width: 200px;
    display: block;
    text-align: justify;
    cursor: pointer;
    outline: none;
    transition: 0.25px;
    padding: 14px 80px;
    font-size: 15px;
    position: relative;
    border: 2px solid black;
}
.reset { 
    margin-left: 80px;  
    margin-bottom: 20px;
    background-color: white;
}
.submit { 
    margin-left: 335px;
    margin-top: -78px;
    margin-bottom: 20px;   
    background-color: #fde395;
}